

/* ==========================================================================
   Responsive styles
   ========================================================================== */
@media (max-width: 767px){
	body {
	  padding-right: 0px; 
	  padding-left: 0px; 
	}
	.container{
	  padding-right: 10px; 
	  padding-left: 10px;    
	}

	.navbar-fixed-top{
		padding-right: 0px;
		padding-left: 20px;
		margin-right: 0;

	}

	#img-about {
		width: 100%;
		margin:0 ;
		padding-bottom: 20px;


	}
	

	.CV-timeline-type{
		font-size: 2.4em !important;
		line-height: 1em;
	}

	.section_title{
		font-size: 2.4em !important;
		line-height: 1em;
	}

	.CV-timeline-title{
		line-height: 1em;
		margin-bottom: 20px !important;
		display: block !important;
	}


	.CV-timeline-dates{
		margin-bottom: 20px !important;
	}

	#boxes{
		display: none;	
	}


}

@media (min-width: 768px) and (max-width: 979px) {

	#img-about {
	margin:auto;
	width:100%; 
	}	
}

@media(max-width:979px){

	#top-section{
	background-color: white;
	padding-top: 0;
	}
	

	.CV-timeline-type{
		font-size: 2.4em !important;
		line-height: 1em;
	}

	.section_title{
		font-size: 2.4em !important;
		line-height: 1em;
	}
	#img-about {
		width: 80%;
		margin:0 ;
		padding-bottom: 20px;

	}


	


}

@media(min-width:979px){
	#top-section{
	background-color: white;
	padding-top: 80px;

	}
	

	
}

/** ==========================================================================
   General Styles
   ========================================================================== */

body{
	font-family:  Helvetica-Neue, Helvetica, Arial, sans-serif;
}

li,ul{
	list-style: none;
}



/** ==========================================================================
   nav  twiks
   ========================================================================== */*/



.navbar {
	margin-bottom: 0;
}

#top-nav{
	font-size: 1.2em;
	margin-left: -1em;
	
}

#top-nav a{
	color: lightgreen;
}

.navbar .brand {
	margin-top: 0.5em;
	font-size: 3.2em;
	color: white;
}

.navbar-inner p{
	
	font-size: 1.4em;
	color: white;
	padding-top: 0.5em;
    clear: both;
}



/* ==========================================================================
   sections twiks
   ========================================================================== */

.block{
    padding: 100px 0px;   
}


#first-section{
	color:white;
	background-image: url(../img/dark_concrete_background.jpg); 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#second-section{
	background-color: white;
}


#third-section{
	background-color: #666;
	color:white;
}

#forth-section{
	background-color: white;
}

#fifth-section{
	background-color:#666;
	color:white;
}

.navbar {
	margin-bottom: 0;
}

footer{
	height: 100px;
	background-color: #111;
	color: white;
}

.page-header {

   border-bottom: none; 
}

/* ==========================================================================
  diagonals
   ========================================================================== */

#diag-section-top{
	position:relative;
	top:50px;
	background-color: white;
	height:100px;
	width: 100%;
	 -webkit-transform: skewY(3deg);
    -moz-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -o-transform: skewY(3deg);
    transform: skewY(3deg);

}


#diag-section-1{
	position:relative;
	top:50px;
	background-color: white;
	height:120px;
	width: 100%;
	 -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -o-transform: skewY(-3deg);
    transform: skewY(-3deg);

}

#diag-section-2{
	position:relative;
	top:50px;
	background-color: #666;
	height:100px;
	width: 100%;
	 -webkit-transform: skewY(3deg);
    -moz-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -o-transform: skewY(3deg);
    transform: skewY(3deg);
 	
}

#diag-section-3{
	position:relative;
	top:50px;
	background-color: white;
	height:120px;
	width: 100%;
	 -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
    -o-transform: skewY(-3deg);
    transform: skewY(-3deg);
 	
}
#diag-section-4{
	position:relative;
	top:50px;
	background-color: #666;
	height:100px;
	width: 100%;
	 -webkit-transform: skewY(3deg);
    -moz-transform: skewY(3deg);
    -ms-transform: skewY(3deg);
    -o-transform: skewY(3deg);
    transform: skewY(3deg);
 	
}

/* ==========================================================================
  About Section styles
   ========================================================================== */


#title-about {
	margin-top: 100px;
	margin-bottom: 50px;
}


#top-section p {
	color: #555;
	font-size: 1em;
	line-height:1.4em;
}

#top-section {
	color: #000;
}

#title-skills {
	margin-top: 50px;

}

#img-about{
	
	padding-right: 20px;
	margin-top: 25px;

}

#img-about>img{
	width: 60%;	
	
	
	
}

#title-skills ul li{
	list-style: disc;
}

#boxes{

	position: absolute;
	margin-top: 200px;
	width:40%;
	left: 55%; right: 0; top:0; 
	z-index: 1000;


}

/* ==========================================================================
  experience Timeline styles
   ========================================================================== */
.CV-timeline-type{
	margin-bottom: 50px;
	font-size: 5em;
	color: #E0E0E0;
	text-transform: uppercase;
	font-style: italic;
	
}

.CV-timeline-list{
	border-left: 1px solid black;
	padding-left: 20px;
	margin-bottom: 150px;
}

.CV-timeline-item {
	margin-bottom: 20px;
	font-size: 1.2em;
	

}

.CV-timeline-title{
	display: inline-block;
	margin: 0;
	font-style: italic;
	font-weight: 200;
	font-size: 1.6em;
	text-transform: uppercase;


}
.CV-timeline-dates{
	margin: 0;
	font-weight: 100;
	color: #555;
}
.CV-timeline-description li{
	font-size: 0.9em;
}

.CV-timeline-item:before {
  font-size: 1em;
  content: "";
  position: relative;
  top: 20px;
  left: -32px;
  display: block;
  width: 20px;
  height: 20px;
  border: solid 1px black;
  background-color: white;
  border-radius: 50%;
}

.section_title{
	margin-bottom: 20px;
	font-size: 5em;
	color: #D0D0D0   ;
	text-transform: uppercase;
	font-style: italic;
	
}
.CV-timeline-description li{
	line-height: 1.5em;
	list-style: disc;
}


/* ==========================================================================
  Education Timeline styles
   ========================================================================== */

.education_list{
	margin-top: 25px;
}
.education_item{
	margin-bottom: 30px;
	

}
.education_title{
	margin:0;
	font-style: italic;
	font-weight: 200;
	font-size: 1.6em;
	line-height: 1em;
	text-transform: uppercase;	

}

.education_title span{
	
	text-transform: none;	

}

.education_location{
	display: inline-block;
	font-weight: 100;
	margin:0;
	
	
}
.education_date{
	display: block;
}
.education_description{
	display: block;
	font-size: 0.9em;
	
}

#interests-section{
	margin-top: 70px;
}

/* ==========================================================================
  Work Thumbnails styles
   ========================================================================== */

.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,
.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,.col-sm-1,.col-sm-2,
.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,
.col-sm-10,.col-sm-11,.col-sm-12,.col-md-1,.col-md-2,.col-md-3,.col-md-4,
.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,
.col-md-12,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,
.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
	position:relative;
	padding: 0;
	float: left;
}
.img{
	height: 100%;
	width: 250px;
}


.gallery {
  
 
  margin-bottom: 100px;

}

figure {
    height: 180px;
    width: 250px;
    display: block;
    overflow: hidden;
    margin:5px;
    z-index: 100;

}

figcaption {
    height: 100%;
    width: 100%;
    background:black;
    text-align: center;
    position: absolute;
    top: 0;
    left: -500px;
    opacity: 0; 
    padding: 5px;
}

figcaption h2{
	font-size: 1.4em;
	padding-right: 20px;
}

figcaption p{
	font-size: 0.9em;
	padding-right: 20px;
}

a {
    color: #fff;
}

a:hover figcaption {
    opacity: 0.8;
    left: 0;
    color: #fff;
    transition: all 0.7s;
}




/* ==========================================================================
  interests styles
   ========================================================================== */

#svg_interests{
	position: relative;
	

}
#interest_splat1{
	
	
	position: absolute;
	left:60;
	
}


